code/SharedResource/Schemas/employeeDetails.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.eniquesolutions.com/emp_details" elementFormDefault="qualified" targetNamespace="http://www.eniquesolutions.com/emp_details">
        
  
  
  <complexType name="empProfessionalDetailsType">
                
    
    
    
    <sequence>
                                                                                  		
    
      
      
      
      <element name="Department" type="string"/>
                                                                                  		
      
      
      
      
      <element name="Title" type="string"/>
                                                                                  		
      
      
      
      
      <element name="DateOfJoining ">
                              	
        
        
        <simpleType>
                                    		
          
          
          <restriction base="date">
                                          			
            
            
            <pattern value="(((([0-9]{2}(04|08|[2468][048]|[13579][26]))|2000)-(02)-(29))|(([0-9]{4})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|1[1])-([12][0-9]|3[0]))|(02-(0[1-9]|1[0-9]|2[0-8])))))">
      			</pattern>
                                          		
          
          
          </restriction>
                                    	
        
        
        </simpleType>
                              
      
      
      </element>
                        
      
      
      <element name="Worklocation" type="string"/>
                                                                              			
      
      
      
      
      <element name="WorkPhone">
                              	
        
        
        <simpleType>
                                    		
          
          
          <restriction base="string">
                                          			
            
            
            <pattern value="(\+\d{1,3}[- ]?)?[^0]{1}\d{9}"/>
                                          		
          
          
          </restriction>
                                    	
        
        
        </simpleType>
                              
      
      
      </element>
                        
      
      
      <element name="ReportingTo" type="string"/>
                                                                              			
      
      
      
      
      <element name="EmployeeStatus">
                              	
        
        
        <simpleType>
                                    		
          
          
          <restriction base="string">
                                          			
            
            
            <enumeration value="active"/>
                                          			
            
            
            <enumeration value="inactive"/>
                                          		
          
          
          </restriction>
                                    	
        
        
        </simpleType>
                              
      
      
      </element>
                        
      
      
      <element name="Experience ">
              	
        <simpleType>
                		
          <restriction base="string">
                  			
            <pattern value="\d*"/>
                  		
          </restriction>
                	
        </simpleType>
              
      </element>
          
    </sequence>
                                                        
  
  
  
  
  </complexType>
                          
  
  
  
  
  <complexType name="empPersonalDetailsType">
                                              	
    
    
    
    
    <sequence>
                                                    	
     
      
      
      
      <element name="FirstName ">
                                                                    		
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                    				
            
            
            
            
            
            
            
            <minLength value="1"/>
                                                                                                    				
            
            
            
            
            
            
            
            <maxLength value="100"/>
                                                                                                    			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    	
      
      
      
      
      
      
      
      <element name="LastName">
                                                                    		
        
        
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                    				
            
            
            
            
            
            
            
            <minLength value="0"/>
                                                                                                    				
            
            
            
            
            
            
            
            <maxLength value="100"/>
                                                                                                    			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    	
      
      
      
      
      
      
      
      <element name="EmailID ">
                                                                    		
        
        
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                    				
            
            
            
            
            
            
            
            <pattern value="[a-zA-Z0-9_\-\.]+@+[a-zA-Z0-9]+.com">
    				</pattern>
                                                                                                    				
                			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    	
      
      
      
      
      
      
      
      <element name="OtherEmail">
                                                                    		
        
        
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                    				
            
            
            
            
            
            
            
            <pattern value="[a-zA-Z0-9_\-\.]+@+[a-zA-Z0-9]+.com">
    				</pattern>
                                                                                                    			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    	
      
      
      
      
      
      
      
      <element name="BirthDate">
                                                                    		
        
        
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="date">
                                                                                                    				
            
            
            
            
            
            
            
            <pattern value="(((([0-9]{2}(04|08|[2468][048]|[13579][26]))|2000)-(02)-(29))|(([0-9]{4})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|1[1])-([12][0-9]|3[0]))|(02-(0[1-9]|1[0-9]|2[0-8])))))">
    				</pattern>
                                                                                                    			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    	
      
      
      
      
      
      
      
      <element name="MobilePhone">
                                                                    		
        
        
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                    				
            
            
            
            
            
            
            
            <pattern value="(\+\d{1,3}[- ]?)?[^0]{1}\d{9}"/>
                                                                                                    			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    	
      
      
      
      
      
      
      
      <element name="Gender">
                                                                    		
        
        
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                    				
            
            
            
            
            
            
            
            <enumeration value="male"/>
                                                                                                    				
            
            
            
            
            
            
            
            <enumeration value="female"/>
                                                                                                    				
            
            
            
            
            
            
            
            <enumeration value="other"/>
                                                                                                    			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    	
      
      
      
      
      
      
      
      <element name="Age">
                                                                    		
        
        
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="int">
                                                                                                    				
            
            
            
            
            
            
            
            <maxInclusive value="199"/>
                                                                                                    				
            
            
            
            
            
            
            
            <minInclusive value="1"/>
                                                                                                    			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    	
      
      
      
      
      
      
      
      <element name=" PANcardNumber">
                                                                    		
        
        
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                    				
            
            
            
            
            
            
            
            <pattern value="[A-Z]{5}[0-9]{4}[A-Z]{1}"/>
                                                                                                    			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    	
      
      
      
      
      
      
      
      <element name="AadharCardNumber">
                                                                    		
        
        
        
        
        
        
        
        <simpleType>
                                                                                    			
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                    				
            
            
            
            
            
            
            
            <pattern value="[^0]{1}\d{3}(\s|-)?\d{4}(\s|-)?\d{4}">
    				</pattern>
                                                                                                    			
          
          
          
          
          
          
          
          </restriction>
                                                                                    		
        
        
        
        
        
        
        
        </simpleType>
                                                                    	
      
      
      
      
      
      
      
      </element>
                                                    
    
    
    
    
    
    
    
    </sequence>
                                  
  
  
  
  
  
  
  
  </complexType>
                        
  
  
  
  
  
  
  
  
  
  
  <complexType name="empPersonalType">
                                              	
    
    
    
    
    
    
    
    
    
    
    <sequence>
                      	
      
      
      <element ref="tns:employeeID"/>
                      	
      
      
      <element ref="tns:empPersonalDetails"/>
                      
    
    
    
    </sequence>
              
  
  
  </complexType>
                      

   
  
  
  
  
  
  
  
  
  
  <complexType name="AddressDetailsType">
                                          	
  	
    
    
    
    
    
    
    
    
    
    <sequence>
                                                              		
      
      
      
      
      
      
      
      
      
      <element name="HouseNo" type="string"/>
                                                            		
      
      
      
      
      
      
      
      
      
      <element name="PlotNo" type="string"/>
                                                            		
      
      
      
      
      
      
      
      
      
      <element name="Street" type="string"/>
                                                            		
      
      
      
      
      
      
      
      
      
      <element name="Mandal" type="string"/>
                                                            		
      
      
      
      
      
      
      
      
      
      <element name="District" type="string"/>
                                                            		
      
      
      
      
      
      
      
      
      
      <element name="State" type="string"/>
                                                            		
      
      
      
      
      
      
      
      
      
      <element name="Country" type="string"/>
                                                            		
      
      
      
      
      
      
      
      
      
      <element name="PinCode">
                                                                      	
        
        
        
        
        
        
        
        <simpleType>
                                                                                      		
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                      			
            
            
            
            
            
            
            
            <pattern value="[1-9]{1}[0-9]{2}[\s]?[0-9]{3}"/>
                                                                                                      		
          
          
          
          
          
          
          
          </restriction>
                                                                                      	
        
        
        
        
        
        
        
        </simpleType>
                                                                      
      
      
      
      
      
      
      
      </element>
                                                    
    
    
    
    
    
    
    
    </sequence>
                                          	
  
  
  
  
  
  
  
  
  
  
  </complexType>
                      


   
  
  
  
  
  
  
  
  
  
  <complexType name="empAddressType">
                                           	
    
    
    
    
    
    
    
    
    
    <sequence>
                          
      
      
      <element ref="tns:employeeID"/>
                      	
      
      
      <element ref="tns:empAddressDetails"/>
                      	
    
    
    
    </sequence>
              
  
  
  </complexType>
                       
  
  
  
  
  
  
  
  
  
  <complexType name="empTitleSalaryType">
                                           	
    
    
    
    
    
    
    
    
    
    <sequence>
                                                    	
      
      
      
      
      
      
      
      <element ref="tns:employeeID"/>
                                                    	
      
      
      
      
      
      
      
      <element ref="tns:empTitleSalaryDetails"/>
                      
    
    
    </sequence>
                                  
  
  
  
  
  
  
  
  </complexType>
                       
  
  
  
  
  
  
  
  
  
  <complexType name="empTitleSalaryDetailsType">
                                           	
    
    
    
    
    
    
    
    
    
    <sequence>
                                                               	    
      
      
      
      
      
      
      
      
      
      <element name="EmpType" type="string"/>
                                                               		
      
      
      
      
      
      
      
      
      
      <element name="EmpRole" type="string"/>
                                                               		
      
      
      
      
      
      
      
      
      
      <element name="Salary">
              	
        <simpleType>
                		
          <restriction base="string">
                  			
            <pattern value="[0-9]{1,7}"/>
                  		
          </restriction>
                	
        </simpleType>
              
      </element>
          
    </sequence>
                                           
  
  
  
  
  
  
  
  
  
  </complexType>
                       
  
  
  
  
  
  
  
  
  
  <complexType name="empOrganizationDetailsType">
                                           	
    
    
    
    
    
    
    
    
    
    <sequence>
                          
      
      
      <element ref="tns:employeeID"/>
                      	
      
      
      <element name="OrganizationName" type="string"/>
                      	
      
      
      <element name="OrganizationType" type="string"/>
                      	
      
      
      <element name="address" type="tns:AddressDetailsType"/>
                      	
    
    
    
    </sequence>
              
  
  
  </complexType>
                       



  
  
  
  
  
  
  
  
  <complexType name="empInsuranceDetailsType">
                                  	
    
    
    
    
    
    
    
    <sequence>
                         
      
      
      <element ref="tns:employeeID"/>
                      	
      
      
      <element ref="tns:empInsuranceDetails"/>
                      	
    
    
    
    </sequence>
              
  
  
  </complexType>
                  
  
  
  
  
  
  
  
  <complexType name="empDetailsType">
                                  	
    
    
    
    
    
    
    
    <sequence>
                                                  		
      
      
      
      
      
      
      
      <element ref="tns:employeeID"/>
                                                  		
      
      
      
      
      
      
      
      <element ref="tns:empAddressDetails"/>
                                                  		
      
      
      
      
      
      
      
      <element ref="tns:empInsuranceDetails"/>
                                                  		
      
      
      
      
      
      
      
      <element ref="tns:empPersonalDetails"/>
                                                  		
      
      
      
      
      
      
      
      <element ref="tns:empProfessionalDetails"/>
                                                  		
      
      
      
      
      
      
      
      <element ref="tns:empTitleSalaryDetails"/>
                                                  		
      
      
      
      
      
      
      
      <element ref="tns:empOrganizationDetails"/>
                                                  	
    
    
    
    
    
    
    
    </sequence>
                                  
  
  
  
  
  
  
  
  </complexType>
                  
  
  
  
  
  
  
  
  <complexType name="empProfessionalType">
                                  	
    
    
    
    
    
    
    
    <sequence>
                                                  		
      
      
      
      
      
      
      
      <element ref="tns:employeeID"/>
                                                  		
      
      
      
      
      
      
      
      <element ref="tns:empProfessionalDetails"/>
                                                  	
    
    
    
    
    
    
    
    </sequence>
                                  
  
  
  
  
  
  
  
  </complexType>
                  
  
  
  
  
  
  
  
  <element name="empAddressDetails" type="tns:AddressDetailsType"/>
                  
  
  
  
  
  
  
  
  <complexType name="insuranceDetailsType">
                                  	
    
    
    
    
    
    
    
    <sequence>
                                                  		
      
      
      
      
      
      
      
      <element name="HolderName">
                                                                        	
        
        
        
        
        
        
        
        <simpleType>
                                                                                        		
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                        			
            
            
            
            
            
            
            
            <minLength value="1"/>
                                                                                                        			
            
            
            
            
            
            
            
            <maxLength value="100"/>
                                                                                                        		
          
          
          
          
          
          
          
          </restriction>
                                                                                        	
        
        
        
        
        
        
        
        </simpleType>
                                                                        
      
      
      
      
      
      
      
      </element>
                                                        
      
      
      
      
      
      
      
      <element name="PolicyID" type="string"/>
                                                  		
      
      
      
      
      
      
      
      <element name="Gender">
                                                                  			
        
        
        
        
        
        
        
        <simpleType>
                                                                                  				
          
          
          
          
          
          
          
          <restriction base="string">
                                                                                                  					
            
            
            
            
            
            
            
            <enumeration value="male"/>
                                                                                                  					
            
            
            
            
            
            
            
            <enumeration value="female"/>
                                                                                                  					
            
            
            
            
            
            
            
            <enumeration value="other"/>
                                                                                                  				
          
          
          
          
          
          
          
          </restriction>
                                                                                  			
        
        
        
        
        
        
        
        </simpleType>
                                                                  		
      
      
      
      
      
      
      
      </element>
                                                  		
      
      
      
      
      
      
      
      <element name="DOB">
                                                                  			
        
        
        
        
        
        
        
        <simpleType>
                                                                                  				
          
          
          
          
          
          
          
          <restriction base="date">
                                                                                                  					
            
            
            
            
            
            
            
            <pattern value="(((([0-9]{2}(04|08|[2468][048]|[13579][26]))|2000)-(02)-(29))|(([0-9]{4})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|1[1])-([12][0-9]|3[0]))|(02-(0[1-9]|1[0-9]|2[0-8])))))">
  					</pattern>
                                                                                                  				
          
          
          
          
          
          
          
          </restriction>
                                                                                  			
        
        
        
        
        
        
        
        </simpleType>
                                                                  		
      
      
      
      
      
      
      
      </element>
                                                  		
      
      
      
      
      
      
      
      <element name="SumInsured" type="float"/>
                                                  		
      
      
      
      
      
      
      
      <element name="ValidTill">
                                                                  			
        
        
        
        
        
        
        
        <simpleType>
                                                                                  				
          
          
          
          
          
          
          
          <restriction base="date">
                                                                                                  					
            
            
            
            
            
            
            
            <pattern value="(((([0-9]{2}(04|08|[2468][048]|[13579][26]))|2000)-(02)-(29))|(([0-9]{4})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|1[1])-([12][0-9]|3[0]))|(02-(0[1-9]|1[0-9]|2[0-8])))))">
  					</pattern>
                                                                                                  				
          
          
          
          
          
          
          
          </restriction>
                                                                                  			
        
        
        
        
        
        
        
        </simpleType>
                                                                  		
      
      
      
      
      
      
      
      </element>
                                                  	
    
    
    
    
    
    
    
    </sequence>
                                  
  
  
  
  
  
  
  
  </complexType>
                  
  
  
  
  
  
  
  
  <element name="empInsuranceDetails" type="tns:insuranceDetailsType"/>
                    
  
  
  
  
  
  
  
  <element name="empPersonalDetails" type="tns:empPersonalDetailsType"/>
                    
  
  
  
  
  
  
  
  <element name="empProfessionalDetails" type="tns:empProfessionalDetailsType"/>
                    
  
  
  
  
  
  
  
  <element name="empTitleSalaryDetails" type="tns:empTitleSalaryDetailsType"/>
                    
  
  
  
  
  
  
  
  <element name="empOrganizationDetails" type="tns:empOrganizationDetailsType">
    </element>
                    
  
  
  
  
  
  
  
  <element name="empDetails" type="tns:empDetailsType"/>
                


  
  
  
  
  
  
  
  <element name="empProfessional" type="tns:empProfessionalType"/>
                
  
  
  
  
  
  
  <complexType name="empProfessional">
                              	
    
    
    
    
    
    
    <sequence>
                                            		
      
      
      
      
      
      
      <element maxOccurs="unbounded" minOccurs="0" ref="tns:empProfessional"/>
                                            	
    
    
    
    
    
    
    </sequence>
                              
  
  
  
  
  
  
  </complexType>
                
  
  
  
  
  
  
  <complexType name="empPersonal">
                              	
    
    
    
    
    
    
    <sequence>
                                            		
      
      
      
      
      
      
      <element maxOccurs="unbounded" minOccurs="0" ref="tns:empPersonal"/>
                                            	
    
    
    
    
    
    
    </sequence>
                              
  
  
  
  
  
  
  </complexType>
                
    
  
  
  
  
  
  
  <element name="empPersonal" type="tns:empPersonalType"/>
                  
  
  
  
  
  
  
  <element name="empAddress" type="tns:empAddressType"/>
                  
  
  
  
  
  
  
  <complexType name="empAddress">
                                	
    
    
    
    
    
    
    <sequence>
                                              		
      
      
      
      
      
      
      <element maxOccurs="unbounded" minOccurs="0" ref="tns:empAddress"/>
                                              	
    
    
    
    
    
    
    </sequence>
                                
  
  
  
  
  
  
  </complexType>
                  
  
  
  
  
  
  
  <element name="empInsurance" type="tns:empInsuranceDetailsType"/>
                  
  
  
  
  
  
  
  <complexType name="empInsurance">
                                	
    
    
    
    
    
    
    <sequence>
                                              		
      
      
      
      
      
      
      <element maxOccurs="unbounded" minOccurs="0" ref="tns:empInsurance"/>
                                              	
    
    
    
    
    
    
    </sequence>
                                
  
  
  
  
  
  
  </complexType>
                  
  
  
  
  
  
  
  <complexType name="empOrganization">
                                	
    
    
    
    
    
    
    <sequence>
                                              		
      
      
      
      
      
      
      <element maxOccurs="unbounded" minOccurs="0" ref="tns:empOrganizationDetails"/>
                                              	
    
    
    
    
    
    
    </sequence>
                                
  
  
  
  
  
  
  </complexType>
                  
  
  
  
  
  
  
  <element name="empTitleSalary" type="tns:empTitleSalaryType"/>
                  
  
  
  
  
  
  
  <complexType name="empTitleSalary">
                                	
    
    
    
    
    
    
    <sequence>
                                              		
      
      
      
      
      
      
      <element maxOccurs="unbounded" minOccurs="0" ref="tns:empTitleSalary"/>
                                              	
    
    
    
    
    
    
    </sequence>
                                
  
  
  
  
  
  
  </complexType>
                  
  
  
  
  
  
  
  <element name="empPersonalRoot" type="tns:empPersonal"/>
                  
  
  
  
  
  
  
  <element name="empAddressRoot" type="tns:empAddress"/>
                  
  
  
  
  
  
  
  <element name="empInsuranceRoot" type="tns:empInsurance"/>
                  
  
  
  
            
  
  
  
        
  
  
  
  
  
  <element name="empOrganizationRoot" type="tns:empOrganization"/>
            



  
  
  
  <element name="empTitleSalaryRoot" type="tns:empTitleSalary"/>
          
  
  
  <element name="employeeID" type="string"/>
          
  
        
  
        
  
    
    
      
  

    
  <element name="empProfessionalRoot" type="tns:empProfessional"/>
  
</schema>
