code/SharedResource/Service Descriptors/empProfessional.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eniquesolutions.com/empProfessional/AbstarctWSDL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="empProfessional" targetNamespace="http://www.eniquesolutions.com/empProfessional/AbstarctWSDL" xmlns:xsd1="http://www.eniquesolutions.com/emp_details">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.eniquesolutions.com/empProfessional/AbstarctWSDL">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.eniquesolutions.com/emp_details"
    		schemaLocation="../Schemas/employeeDetails.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="empProfessionalRequest">
    <wsdl:part name="parameters" type="xsd1:empProfessional"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="empProfessionalFault">
  	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="empProfessionalFault1">
  	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="empProfessional">
    <wsdl:operation name="empProfessional">
      <wsdl:input message="tns:empProfessionalRequest"/>
            <wsdl:fault name="fault" message="tns:empProfessionalFault1"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="empProfessionalSOAP" type="tns:empProfessional">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="empProfessional">
      <soap:operation soapAction="http://www.eniquesolutions.com/empProfessional/AbstarctWSDL/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="empProfessional">
    <wsdl:port binding="tns:empProfessionalSOAP" name="empProfessionalSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
