code/SharedResource/Service Descriptors/empTitleSalary.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.eniquesolutions.com/empTitleSalary/AbstractWSDL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.eniquesolutions.com/emp_details" name="empTitleSalary" targetNamespace="http://www.eniquesolutions.com/empTitleSalary/AbstractWSDL">
        
  
  
  <wsdl:types>
              	
    
    
    <xsd:schema>
                    		
      
      
      <xsd:import namespace="http://www.eniquesolutions.com/emp_details" schemaLocation="../Schemas/employeeDetails.xsd">
  		</xsd:import>
                  
      
      <xsd:element name="EmpTitleSalaryRequest">
                        
        
        <xsd:complexType>
                              
          
          <xsd:sequence>
                                    
            
            <xsd:element name="in" type="xsd:string"/>
                                  
          
          </xsd:sequence>
                            
        
        </xsd:complexType>
                      
      
      </xsd:element>
                  
      
      <xsd:element name="EmpTitleSalaryResponse">
                        
        
        <xsd:complexType>
                              
          
          <xsd:sequence>
                                    
            
            <xsd:element name="out" type="xsd:string"/>
                                  
          
          </xsd:sequence>
                            
        
        </xsd:complexType>
                      
      
      </xsd:element>
                  
      
      <xsd:element name="EmpTitleSalaryFault">
                        
        
        <xsd:complexType>
                              
          
          <xsd:sequence>
                                    
            
            <xsd:element name="fault" type="xsd:string"/>
                                  
          
          </xsd:sequence>
                            
        
        </xsd:complexType>
                      
      
      </xsd:element>
                
    
    </xsd:schema>
            
    
    <xsd:schema targetNamespace="http://www.eniquesolutions.com/empTitleSalary/AbstractWSDL">
                  	
      
      
                
    
            <xsd:element name="response" type="xsd:string"></xsd:element>
        </xsd:schema>
          
  
  </wsdl:types>
        
  
  
  <wsdl:message name="empTitleSalaryRequest">
                
    
    
    <wsdl:part element="xsd1:empTitleSalaryRoot" name="empTitleSalaryRequest"/>
              
  
  
  </wsdl:message>
        
  
  
  <wsdl:message name="empTitleSalaryResponse">
                
    
    
    <wsdl:part name="empTitleSalaryResponse" type="xsd:string"/>
              
  
  
  </wsdl:message>
        
  
  
  
          
  
  
  <wsdl:message name="EmpTitleSalaryRequest">
            
    
    <wsdl:part name="parameters" type="xsd1:empTitleSalary"/>
          
  
  </wsdl:message>
          
  
  
  <wsdl:message name="EmpTitleSalaryResponse">
            
    
    <wsdl:part element="tns:response" name="parameters"/>
          
  
  </wsdl:message>
          
  
  
  <wsdl:message name="EmpTitleSalaryFault">
            
    
    <wsdl:part element="EmpTitleSalaryFault" name="parameters"/>
          
  
  </wsdl:message>
          
      
    
  
  
        
  
  
        
  
  
        
    
  
      
  
      
  <wsdl:portType name="EmpTitleSalary">
            
    
    <wsdl:operation name="EmpTitleSalary">
                  
      
      <wsdl:input message="tns:EmpTitleSalaryRequest" name="EmpTitleSalaryInput"/>
                  
      
      <wsdl:output message="tns:EmpTitleSalaryResponse" name="EmpTitleSalaryOutput"/>
                  
      
                
    
    </wsdl:operation>
                
    
            
        
        
  </wsdl:portType>
          
  
  
  <wsdl:binding name="empTitleSalaryHTTP" type="tns:EmpTitleSalary">
                
    
    
    <http:binding verb="POST"/>
                
    
    
    <wsdl:operation name="empTitleSalary">
                        
      
      
      <http:operation location="/NewOperation"/>
                        
      
      
      <wsdl:input>
                                
        
        
        <mime:content type="application/x-www-form-urlencoded"/>
                              
      
      
      </wsdl:input>
                        
      
      
      <wsdl:output>
                                
        
        
        <mime:content type="text/xml"/>
                              
      
      
      </wsdl:output>
                      
    
    
    </wsdl:operation>
              
  
  
  </wsdl:binding>
        
  
  
  <wsdl:service name="empTitleSalary">
                
    
    
    <wsdl:port binding="tns:empTitleSalaryHTTP" name="empTitleSalaryHTTP">
                        
      
      
      <http:address location="http://www.example.org/"/>
                      
    
    
    </wsdl:port>
              
  
  
  </wsdl:service>
      


</wsdl:definitions>
